<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/titulo :: head (title='Editar y actualizar categoria')"></head>
<link rel="stylesheet" type="text/css" href="/css/uno.css">
<body>
    <div th:replace="layout/encabezado :: header"></div>

    <main>
        <h2 th:text="'Editar subcategoria de id ' + ${id}"></h2>
        <form th:action="@{/categorias/editar/{id}(id=${id})}" th:object="${categoriaDto}" method="post">
            <table>
                <tr>
                    <td><label for="1">Nombre:</label></td>
                    <td><input type="text" id="1" th:field="*{nombre}" required></td>
                </tr>
                 <tr>
                    <td><label for="2">URL de la imagen:</label></td>
                    <td><input type="text" id="2" th:field="*{imagenUrl}"></td>
                </tr>   
            </table>
            <br>
            <div>
               <label for="descripcionLTA">Descripción (poner tags &lt;p&gt;párrafo&lt;/p&gt;):</label><br>
               <textarea id="descripcionLTA" th:field="*{descripcion}" rows="10" cols="100"></textarea>
            </div>
            <br>
        <br>
           <button type="submit" class="btn btn-warning">Actualizar Categoria</button>
        </form>
         
    </main>
    <br>
    <div th:replace="layout/pie_de_pagina :: footer"></div>
</body>
</html>