<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/titulo :: head (title='Detalles del Producto')"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/uno.css">
    <link rel="stylesheet" type="text/css" href="/css/slideshowmanualcontransicion_vertical.css">
    <link rel="stylesheet" type="text/css" href="/css/tabs.css">
</head>
<body>
<div th:replace="layout/encabezado :: header"></div>
<h3 th:text="'Detalles del producto: '+${producto.nombre}"></h3>
<main>
  <div style="display:flex">
    
    <div style="width:30%">
      <table>
        <tr>
          <th>ID</th>
          <td th:text="${producto.idProducto}"></td>
        </tr>
        <tr>
          <th>Fabricante</th>
          <td>
            <a class="btn btn-link" th:href="@{'/fabricantes/' + ${producto.fabricante.idFabricante}}" th:text="${producto.fabricante.nombre}" style="font-size: 14px;"></a>
          </td>
        </tr>
        <tr>
        <th>Subcategoría</th>
          <td>
            <a class="btn btn-link" th:href="@{'/subcategorias/' + ${producto.subcategoria.idSubcategoria}}" th:text="${#strings.abbreviate(producto.subcategoria.nombre, 20)}" style="font-size: 14px;"></a>
          </td>
        </tr>
        <tr>
          <th>Stock</th>
          <td th:text="${producto.stock}"></td>
        </tr>
        <tr>
          <th>Novedad</th>
          <td th:text="${producto.novedad ? 'Sí' : 'No'}"></td>
        </tr>
        <tr>
          <th>Precio</th>
          <td th:text="${producto.precio} + ' €'"></td>
        </tr>
        <tr>
          <th>Tipo descuento</th>
          <td th:text="${producto.tipoDescuento}"></td>
        </tr>
        <tr>
          <th>Descuento</th>
          <td th:text="${producto.descuento != null ? producto.descuento : 'NULL'}"></td>
        </tr>
        <tr>
          <th>Precio final</th>
          <td th:text="${producto.precioFinal}+' €'"></td>
        </tr>
        <tr>
          <th>N.º valoraciones</th>
          <td th:text="${producto.numeroValoraciones}"></td>
        </tr>
        <tr>
          <th>Valoración media</th>
          <td th:text="${producto.valoracionMedia != null ? #numbers.formatDecimal(producto.valoracionMedia, 1, 2) : 'NULL'}"></td>
        </tr>
        <tr>
          <th>U. vendidas</th>
          <td th:text="${numeroUnidadesVendidasHtml}"></td>
        </tr>
        <tr>
          <th>Fecha creación</th>
          <td th:text="${producto.fechaCreacion}"></td>
        </tr>
        <tr>
          <th>Fecha actualización</th>
          <td th:text="${producto.fechaActualizacion}"></td>
        </tr>
      </table>
    </div>
      
    <div style="width:50%">
      <div class="contenedor-para-centrar" th:if="${not #lists.isEmpty(imagenes)}">
        <div class="wrapper">
          <div class="slideshow-container">
            <div class="contenedorIzquierdo">
              <img id="imagenExpandida" th:src="@{'/imagenes/productos/' + ${imagenes[0].imagenUrl}}"/>
              <div id="divDeTextoAlt"></div>
            </div>
            <div class="contenedorCentral">
              <div class="divDeImagenes" id="divDeImagenes" >
                  <img th:each="imagen, iterStat : ${imagenes}" th:classappend="${iterStat.index == 0} ? ' activo'" th:src="@{'/imagenes/productos/' + ${imagen.imagenUrl}}" th:alt="'Imagen '+${iterStat.index + 1}+'/'+${imagenes.size()}" th:onclick="mostrarImagenSeleccionada(this)" th:onmouseover="colorearPadding(this);" th:onmouseout="descolorearPadding(this);" />
              </div>
              <a class="prev" onclick="setMenosYMostrarDiapositiva();">&#128897</a>
              <a class="sigu" onclick="setMasYMostrarDiapositiva();">&#128899</a>
            </div>
            <div class="contenedorDerecho" id="contenedorDeSpans" style="text-align:center"></div>
          </div>
        </div>
      </div>
      <script src="/js/slideshowmanualcontransicion_vertical.js"></script>
      <div th:if="${imagenes.isEmpty()}" class="no-images">
        <p>No hay imágenes disponibles para este producto.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="tab">
    <!--Utilizo event en lugar de this porque necesito acceder a las propiedades del objeto (button) del evento, en este
        caso .tab button:hover-->
    <button class="tablinks" onclick="abrirCampo(event, 'Descripcion')">DESCRIPCIÓN</button>
    <button class="tablinks" onclick="abrirCampo(event, 'Detalles')">DETALLES</button>
    <button class="tablinks" onclick="abrirCampo(event, 'Resenas')">RESEÑAS</button>
  </div>
  <div id="Descripcion" class="tabcontent" th:text="${producto.descripcion}"></div>
  <div id="Detalles" class="tabcontent" th:text="${producto.detalles}"></div>
  <div id="Resenas" class="tabcontent" >
    <div th:if="${not #lists.isEmpty(resenasHtml)}">
      <table class="review-table">
        <tbody th:each="resena : ${resenasHtml}">
          <tr>
            <td style="padding:10px 0px; min-width:150px;"><strong>Calificación: </strong><span th:text="${resena.valoracion}"></span>/5</td>
            <td th:text="${resena.titulo}"></td>
          </tr>
          <tr>
            <td>
              <span th:text="${resena.fechaCreacion}"></span><br>
              <a th:href="@{'/usuarios/' + ${resena.usuario.idUsuario}}" th:text="${resena.usuario.nombre} + ' ' + ${resena.usuario.apellido1.substring(0, 1)}"></a>
            </td>
            <td th:text="${resena.comentario}"></td>
          </tr>
          <tr style="height: 25px"></tr>
        </tbody>
      </table>
    </div>
    <div th:if="${#lists.isEmpty(resenasHtml)}">
      <p>No hay reseñas disponibles para este producto.</p>
    </div>
  </div>
  <script src="/js/tabs.js"></script>

  <br>
  <a th:href="@{/productos}" class="btn btn-secondary">Volver a la lista</a>
</main>
<br>
<div th:replace="layout/pie_de_pagina :: footer"></div>
</body>
</html>