<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/titulo :: head (title='Imágenes de un producto')"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/slideshowmanualcontransicion_horizontal.css">
</head>

<body>
<div th:replace="layout/encabezado :: header"></div>
<main>
  <h2 th:text="'Producto: ' + ${nombreHtml}"></h2>
  <h4>Lista de imágenes</h4>
  <div>
    <div class="contenedor-slideshow" th:if="${not #lists.isEmpty(imagenes)}">
        <div class="contenedor-0">
            <img id="imagenExpandida" th:src="@{'/imagenes/productos/' + ${imagenes[0].imagenUrl}}"/>
            <div id="divDeTextoAlt"></div>
        </div>
        <div class="contenedor-1">
            <div class="divDeImagenes" id="divDeImagenes" >
                <img th:each="imagen, iterStat : ${imagenes}" th:classappend="${iterStat.index == 0} ? ' activo'" th:src="@{'/imagenes/productos/' + ${imagen.imagenUrl}}" th:alt="'Imagen n.º '+${iterStat.index + 1}" th:onclick="mostrarImagenSeleccionada(this)" th:onmouseover="colorearPadding(this);" th:onmouseout="descolorearPadding(this);" />
            </div>
            <a class="prev" onclick="setMenosYMostrarDiapositiva();">❮</a>
            <a class="sigu" onclick="setMasYMostrarDiapositiva();">❯</a>
        </div>
        <div class="contenedor2" id="contenedorDeSpans" style="text-align:center">
        </div>   
    </div>
    <div th:if="${imagenes.isEmpty()}" class="no-images">
        <p>No hay imágenes disponibles para este producto.</p>
    </div>
    <script src="/js/estilosmanualcontransicion.js"></script>
  </div>
    <a class="btn btn-secondary" th:href="@{/productos}">Volver a la lista de productos</a>
</main>
<br>
<div th:replace="layout/pie_de_pagina :: footer"></div>
</body>
</html>
