* {
         box-sizing: border-box;
    }

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #d3d3d3;
    color: white;
    text-align: center;
}

header nav {
	display: flex;
	justify-content: center;
	padding: 12px 0;
}

header nav div {
	display: inline-block;
	position: relative; /* Añadido para el dropdown */
}

header nav div div {
    padding: 10px 16px;
    margin: 0 15px;
    background-color: #222;
    cursor: pointer;
    transition: transform 0.3s;
    border: none;
}

header nav #navdiv3 div {
	background-color:#0069D9;
    border-radius: 15px; /* Añadido border-radius */
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.logout-button:hover {
    text-shadow: 1px 1px 2px #000; /* Añade un sombreado al texto */
}

#navdiv1 {
	text-align: left;
	width: 25%;
}

#navdiv2 {
	text-align: center;
	width: 50%;
	display: flex;
}

#navdiv3 {
	text-align: right;
	width: 25%;
}

.nav-item-registro {
	text-size:12px;
	padding: 5px 5px;
}

header nav div div a {
	color: white;
}

header nav .nav-item:hover, header nav .nav-item-registro:hover {
    transform: scale(1.1); /*Aumenta el tamaño al hacer hover*/
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
	z-index: 1;
	top: 39px;
	transform: translateX(-15%);
}

.dropdown-content div {
	color: black;
	padding: 4px 8px;
	text-decoration: none;

}

.dropdown-content div a {
	color: white;
}

.dropdown-content div:hover {
	background-color: darkgray;
}

.dropdown:hover .dropdown-content {
	display: flex;
}

footer {
    background-color: gray;
    padding: 4px;
    text-align: center;
}

footer nav {
	display: flex;
	justify-content: center;
	padding: 6px;
}

footer nav div {
	display: inline-block;
	padding:0px 20px;
}

footer a{
	color: #ffffff;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

thead {
    background-color: #f4f4f4;
}

th, td {
	border: 1px solid #ccc;
}


.navbar-toggler-icon{
	display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:50%/100% 100% no-repeat;color:white;
}
