body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #d3d3d3;
    color: white;
    text-align: center;
}

header nav {
	display: flex;
	justify-content: center;
	padding: 15px 0;
}

header nav div {
	display: inline-block;
	position: relative; /* Añadido para el dropdown */
}

header nav div div {
    padding: 10px 16px;
    margin: 0 15px;
    background-color: #222;
    cursor: pointer;
    transition: transform 0.3s;
    border: none;
}

#navdiv1 {
	text-align: left;
	width: 25%;
}

#navdiv2 {
	text-align: center;
	width: 50%;
	display: flex;
}

#navdiv3 {
	text-align: right;
	width: 25%;
}

header nav div div a {
	color: white;
}

header nav .nav-item:hover {
    transform: scale(1.1); /*Aumenta el tamaño al hacer hover*/
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
	z-index: 1;
	top: 39px; /* Ajusta este valor para mostrar más abajo */
	transform: translateX(-15%);
}

.dropdown-content div {
	color: black;
	padding: 4px 8px;
	text-decoration: none;

}

.dropdown-content div a {
	color: white;
}

.dropdown-content div:hover {
	background-color: darkgray;
}

.dropdown:hover .dropdown-content {
	display: flex;
}

footer {
    background-color: gray;
    padding: 1px;
    text-align: center;
}

footer a{
	color: #ffffff;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

thead {
    background-color: #f4f4f4;
}

th, td {
	border: 1px solid #ccc;
}


.navbar-toggler-icon{
	display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:50%/100% 100% no-repeat;color:white;
}
